
.card-description-container{
    max-height: 15%;
    overflow: auto;
}

.card-buttons-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.card-buttons-container button{
    border-radius: 0.5rem;
    transition: transform ease 0.3s
}

.card-buttons-container button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.card-like-button {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border: none;
    background-color: rgb(218, 0, 0);
    color: white;
    padding: 0.5rem 1rem;
}

.like-icon {
    fill: white;
}

.card-comment-button{
    background-color: white;
    border: none;
    padding: 0.4rem 0.75rem;
}

.comment-icon{
    fill: gray;
    width: 100%;
    height: 1.1rem;
}

.card-delete-button{
    color: white;
    padding: 0.5rem 1rem;
    background-color: rgb(106, 80, 60);
    border: none;
}
